In [1]:
import pandas as pd

In [2]:
df_data= pd.read_excel('cookie_shop.xlsx')

In [3]:
df = df_data.copy()

In [4]:
# configuring the dataset so that max rows and columns could be displayed

In [5]:
pd.set_option('display.max_rows',None)

In [6]:
df.head()

,Order ID,Unnamed: 1,Customer ID,Cookies Shipped,Revenue,Cost,Order Date,Ship Date,Order Status
0,413383,NaN,152689 - YT Restaurants,936,4680,2340.0,2017-12-31,2018-01-05,Shipped
1,751142,NaN,985245 - Quick Bite Convenience Stores,987,4935,2467.5,2017-12-31,2018-01-04,Shipped
2,876056,NaN,985245 - Quick Bite Convenience Stores,270,1350,675.0,2017-12-30,2018-01-03,Shipped
3,548247,NaN,985245 - Quick Bite Convenience Stores,925,4625,2312.5,2017-12-30,2018-01-03,Shipped
4,626350,NaN,152689 - YT Restaurants,974,4870,2435.0,2017-12-29,2018-01-03,Shipped

In [7]:
# Let's get some quick information from our data as well as some statistical data from our data set.

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order ID         816 non-null    object
 1   Unnamed: 1       0 non-null      float64
 2   Customer ID      816 non-null    object
 3   Cookies Shipped  816 non-null    int64
 4   Revenue          816 non-null    int64
 5   Cost             816 non-null    float64
 6   Order Date       816 non-null    datetime64[ns]
 7   Ship Date        816 non-null    datetime64[ns]
 8   Order Status     816 non-null    object
dtypes: datetime64[ns](2), float64(2), int64(2), object(3)
memory usage: 57.5+ KB

In [9]:
df.describe()

       Unnamed: 1  Cookies Shipped      Revenue         Cost
count         0.0       816.000000   816.000000   816.000000
mean          NaN       510.509804  2552.549020  1276.274510
std           NaN       273.199538  1365.997691   682.998845
min           NaN        50.000000   250.000000   125.000000
25%           NaN       269.750000  1348.750000   674.375000
50%           NaN       496.500000  2482.500000  1241.250000
75%           NaN       761.250000  3806.250000  1903.125000
max           NaN      1000.000000  5000.000000  2500.000000

In [10]:
# Cleaning and removing the unwanted values in the datat

In [11]:
df =df.drop('Unnamed: 1',axis = 1)

In [12]:
# since we have many of our numerical variables in integers, lets convert the float values in the dataset to integers

In [15]:
df['cost'] = df['Cost'].astype(int)

In [16]:
df.head(10)

,Order ID,Customer ID,Cookies Shipped,Revenue,Cost,Order Date,Ship Date,Order Status,cost
0,413383,152689 - YT Restaurants,936,4680,2340.0,2017-12-31,2018-01-05,Shipped,2340
1,751142,985245 - Quick Bite Convenience Stores,987,4935,2467.5,2017-12-31,2018-01-04,Shipped,2467
2,876056,985245 - Quick Bite Convenience Stores,270,1350,675.0,2017-12-30,2018-01-03,Shipped,675
3,548247,985245 - Quick Bite Convenience Stores,925,4625,2312.5,2017-12-30,2018-01-03,Shipped,2312
4,626350,152689 - YT Restaurants,974,4870,2435.0,2017-12-29,2018-01-03,Shipped,2435
5,XXXXXX,XXXXXX - Promo,715,3575,1787.5,2017-12-31,2018-01-02,Shipped,1787
6,200181,325698 - Cascade Grovers,454,2270,1135.0,2017-12-30,2018-01-02,Shipped,1135
7,711368,152689 - YT Restaurants,484,2420,1210.0,2017-12-28,2018-01-02,Shipped,1210
8,958419,325698 - Cascade Grovers,269,1345,672.5,2017-12-29,2018-01-01,Shipped,672
9,808349,985245 - Quick Bite Convenience Stores,396,1980,990.0,2017-12-29,2018-01-01,Shipped,990

In [17]:
# removing the 'xxxxx' from the data

In [18]:
for x in range(df.shape[0]):
    if df.loc[x,'Order ID']=='XXXXXX':
        df.drop(x,inplace = True)

In [19]:
# If you look at the Customer ID, you can see that splitting it would be ideal for us to derive Customer names and IDs.

In [20]:
df['Customer_ID'] =df['Customer ID'].apply(lambda x: x.split('-')[:1]).str[0]

In [21]:
df['Customer_Name'] =df['Customer ID'].apply(lambda x: x.split('-')[1:]).str[0]

In [22]:
# Now let's drop the original Customer ID

In [23]:
df.drop('Customer ID',axis =1,inplace  = True)

In [24]:
# Now we can rearrange our columns

In [25]:
df=df[['Order ID','Customer_Name', 'Customer_ID', 'Cookies Shipped', 'Revenue', 'Cost', 'Order Date',
       'Ship Date', 'Order Status' ]]

In [26]:
# fixing the columns in a suitable format

In [27]:
df.columns =df.columns.str.replace(' ','_')

In [28]:
df.columns=[x.upper() for x in df.columns]

In [29]:
df.head()

,ORDER_ID,CUSTOMER_NAME,CUSTOMER_ID,COOKIES_SHIPPED,REVENUE,COST,ORDER_DATE,SHIP_DATE,ORDER_STATUS
0,413383,YT Restaurants,152689,936,4680,2340.0,2017-12-31,2018-01-05,Shipped
1,751142,Quick Bite Convenience Stores,985245,987,4935,2467.5,2017-12-31,2018-01-04,Shipped
2,876056,Quick Bite Convenience Stores,985245,270,1350,675.0,2017-12-30,2018-01-03,Shipped
3,548247,Quick Bite Convenience Stores,985245,925,4625,2312.5,2017-12-30,2018-01-03,Shipped
4,626350,YT Restaurants,152689,974,4870,2435.0,2017-12-29,2018-01-03,Shipped

In [31]:
df.to_excel('shop2analysis.xlsx')

In [ ]:
# In my next project, I plan to analyse the data to see if I can glean any useful information.